
header{
  background-color: #47639f;
  position: fixed;
  top: 0;
  width: 100%;
  .account{
    font-size: 3rem;
    margin-top: 10px;
  }
  a{
    padding: 20px 0;
  }
}
form{
  margin-top: 40px;
  display: block;
}
.wrap{
  padding: 100px 0 30px 0;
}


table{
  tr{
    td{
      padding-top: 15px;
    }
  }
}
th,td {
  display: block;
  text-align: left;
  width: 100%;
}

.layoutBlock{
  height: 50xp;
  padding-top: 50px;
}


footer{
  height: 60px;
  background-color: #47639f;
}
